*.pyc
*.pyo
*.tmp*
!*.tmpl
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
.*.cfg
bin/
build/
develop-eggs/
downloads/
eggs/
fake-eggs/
parts/
dist/
var/
var*/
lib/
include/
.DS_Store
.Python
README.html
adminPassword.txt
secrets.cfg
src/
.eggs/
