[buildout]

extends = 
    secrets.cfg

parts = 
    solr-download
    solr-instance
    supervisor 
#    cron-supervisor

[settings]
# hosts listen to:
solr-listening-host = 0.0.0.0
solr-master-host = search1.verwaltung.uni-muenchen.de
solr-port = 8983

solr-min-ram = 512M
solr-max-ram = 1024M

[solr-download]
recipe = hexagonit.recipe.download
strip-top-level-dir = true
url = file:///home/admin/solr-4.10.2.zip
#url = https://www.scm.verwaltung.uni-muenchen.de/redmine-plugins/solr-4.10.2.zip
#url = http://apache.petsads.us/lucene/solr/4.10.2/solr-4.10.2.zip
#url = http://apache.petsads.us/lucene/solr/4.10.0/solr-4.10.0.zip
#url = http://apache.petsads.us/lucene/solr/4.9.0/solr-4.9.0.zip
#url = http://apache.petsads.us/lucene/solr/4.8.1/solr-4.8.1.zip
#url = http://apache.petsads.us/lucene/solr/4.8.0/solr-4.8.0.zip
#url = http://apache.petsads.us/lucene/solr/4.7.2/solr-4.7.2.zip

[solr-instance]
recipe = collective.recipe.solrinstance:mc
solr-location = ${solr-download:location}

host = ${settings:solr-listening-host}
port = ${settings:solr-port}

section-name = SOLR

directoryFactory = solr.NRTCachingDirectoryFactory

java_opts =
    -Dcom.sun.management.jmxremote
    -Djava.rmi.server.hostname=127.0.0.1
    -Dcom.sun.management.jmxremote.port=8984
    -Dcom.sun.management.jmxremote.ssl=false
    -Dcom.sun.management.jmxremote.authenticate=false
    -server
    -Xms${settings:solr-min-ram}
    -Xmx${settings:solr-max-ram}

cores = 
#    fiona-iuk 
    crawler
    plone

default-core-name = plone

[fiona-iuk]
#max-num-results = 99
unique-key = uniqueID
index =
#   NAME                      TYPE          STORED       INDEXED        COPYFIELD           MULTIVALUED         REQUIRED/OMITNORMS
    name:uniqueID type:string indexed:true stored:true required:true
    name:Foo type:text copyfield:Baz
    name:Bar type:date indexed:false stored:false required:true multivalued:true omitnorms:true copyfield:Baz
    name:Foo bar type:text
    name:Baz type:text
    name:Everything type:text
filter =
#    text solr.LowerCaseFilterFactory
char-filter-index =
#    text solr.HTMLStripCharFilterFactory
tokenizer-query =
#    text solr.WhitespaceTokenizerFactory
#    text solr.LowerCaseFilterFactory
additional-schema-config =
    <copyField source="*" dest="Everything"/>

[crawler]
#max-num-results = 66
unique-key = id
default-search-field = text
index =
#   NAME                    TYPE                STORED          INDEXED         COPYFIELD           MULTIVALUED         REQUIRED/OMITNORMS
    name:id                 type:string         stored:true     indexed:true    required:true
#    # core fields
    name:segment            type:string         stored:true     indexed:false 
    name:digest             type:string         stored:true     indexed:false 
    name:boost              type:float          stored:true     indexed:false 
#    # fields for index-basic plugin 
    name:host               type:string         stored:false    indexed:true 
    name:url                type:string         stored:true     indexed:true    required:true 
#    # stored=true for highlighting, use term vectors  and positions for fast highlighting 
    name:content            type:text_general   stored:true     indexed:true 
    name:title              type:text_general   stored:true     indexed:true 
    name:cache              type:string         stored:true     indexed:false 
    name:tstamp             type:date           stored:true     indexed:false 
#    # catch-all field 
    name:text               type:text_general   stored:false    indexed:true    multivalued:true
#    # fields for index-anchor plugin 
    name:anchor             type:text_general   stored:true     indexed:true    multivalued:true 
#    # fields for index-more plugin 
    name:type               type:string         stored:true     indexed:true    multivalued:true 
    name:contentLength      type:string         stored:true     indexed:false 
    name:lastModified       type:date           stored:true     indexed:false 
    name:date               type:tdate          stored:true     indexed:true 
#    # fields for languageidentifier plugin 
    name:lang               type:string         stored:true     indexed:true 
#    # fields for subcollection plugin 
    name:subcollection      type:string         stored:true     indexed:true    multivalued:true 
#    # fields for feed plugin (tag is also used by microformats-reltag)
    name:author             type:string         stored:true     indexed:true 
    name:tag                type:string         stored:true     indexed:true    multivalued:true 
    name:feed               type:string         stored:true     indexed:true 
    name:publishedDate      type:date           stored:true     indexed:true 
    name:updatedDate        type:date           stored:true     indexed:true 
#    # fields for creativecommons plugin 
    name:cc                 type:string         stored:true     indexed:true    multivalued:true 
#    # fields for tld plugin 
    name:tld                type:string         stored:false    indexed:false 

filter =
    text solr.LowerCaseFilterFactory
char-filter-query =
    text solr.HTMLStripCharFilterFactory
tokenizer-index =
    text solr.WhitespaceTokenizerFactory

[plone]
#max-num-results = 66
unique-key = UID
default-search-field = default
index = 
# general Plone fields
#   NAME                      TYPE          STORED       INDEXED        COPYFIELD           MULTIVALUED         REQUIRED/OMITNORMS
    name:UID                  type:string   stored:true                                                         required:true
    name:Title                type:text     stored:true                 copyfield:default
    name:physicalPath         type:string   stored:true  indexed:false
    name:physicalDepth        type:integer  stored:false indexed:true
    name:parentPaths          type:string   stored:false indexed:true                       multivalued:true
    name:default              type:text     stored:false indexed:true                       multivalued:true    omitnorms:true
    name:Subject              type:string   stored:true                 copyfield:default   multivalued:true
    name:Description          type:text     stored:true                 copyfield:default
    name:Creator              type:string   stored:true
    name:Date                 type:date     stored:true
    name:SearchableText       type:text     stored:false                copyfield:default
    name:Type                 type:string   stored:true
    name:allowedRolesAndUsers type:string   stored:true                                    multivalued:true     default:Anonymous
    name:created              type:date     stored:true
    name:effective            type:date     stored:true
    name:expires              type:date     stored:true
    name:getIcon              type:string   stored:true  indexed:false
    name:getId                type:string   stored:true  indexed:false
    name:modified             type:date     stored:true
    name:portal_type          type:string   stored:true
    name:review_state         type:string   stored:true
    name:is_folderish         type:boolean  stored:true
    name:exclude_from_nav     type:boolean  stored:true  indexed:false
    name:Language             type:string   stored:true
    name:searchwords          type:string   stored:false                                   multivalued:true
    name:showinsearch         type:boolean  stored:false
    name:getRemoteUrl         type:string   stored:true  indexed:false 
    name:object_provides      type:string   stored:false                                   multivalued:true
    name:path_depth           type:integer  stored:false indexed:true 
    name:path_parents         type:string   stored:false indexed:true                      multivalued:true
    name:path_string          type:string   stored:true  indexed:false 
    

filter =
    text solr.LowerCaseFilterFactory
char-filter-query =
    text solr.HTMLStripCharFilterFactory
tokenizer-index =
    text solr.WhitespaceTokenizerFactory

[supervisor]
recipe = collective.recipe.supervisor

plugins = 
    superlance

supervisord-conf = ${buildout:directory}/supervisord.conf

port = 9001

user = ${buildout:login}
password = ${buildout:password}

logfile = ${buildout:directory}/var/supervisor/supervisord.log
pidfile = ${buildout:directory}/var/supervisor/supervisord.pid

# programs = priority process_name [(process_opts)] command [[args] [directory] [[redirect_stderr]] [user]]
programs =  
    10 solr-instance java [-jar start.jar] ${solr-instance:location}

groups =
#    10 solr-cluster solr-instance

eventlisteners =
    MemmonSolrInstance    TICK_60 ${buildout:bin-directory}/memmon [-p solr-instance=4GB]
    HttpOkSolrInstance    TICK_60 ${buildout:bin-directory}/httpok [-p solr-instance -t 20 http://localhost:${solr-instance:port}/solr/#/]

[cron-supervisor]
recipe = z3c.recipe.usercrontab
times = # @reboot
command = ${buildout:bin-directory}/supervisord
