; supervisor config file

[supervisord]
childlogdir = ${buildout:directory}/var/supervisor  ; ('AUTO' child log dir, default $TEMP)
logfile = ${buildout:directory}/var/supervisor/supervisord.log  ; (main log file;default $CWD/supervisord.log)
logfile_maxbytes = 50MB
logfile_backups = 10
loglevel = info
pidfile = ${buildout:directory}/var/supervisor/supervisord.pid  ; (supervisord pidfile;default supervisord.pid)
umask = 022
nodaemon = false
nocleanup = false

[inet_http_server]
port = ${settings:supervisor-port}
username = ${settings:supervisor-username}
password = ${settings:supervisor-password}

[unix_http_server]
file=/var/run/supervisor.sock    ; (the path to the socket file)
chmod=0700                       ; socket file mode (default 0700)

[supervisorctl]
serverurl = unix:///var/run/supervisor.sock  ; use a unix:// URL for a unix socket
#serverurl = http://127.0.0.1:${settings:supervisor-port}
username = ${settings:supervisor-username}
password = ${settings:supervisor-password}

; the below section must remain in the config file for RPC
; (supervisorctl/web interface) to work, additional interfaces may be
; added by defining them in separate rpcinterface: sections
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

; The [include] section can just contain the "files" setting.  This
; setting can list multiple files (separated by whitespace or
; newlines).  It can also contain wildcards.  The filenames are
; interpreted as relative to this file.  Included files *cannot*
; include files themselves.
[include]
files = ${buildout:directory}/etc/supervisor/conf.d/*.conf
